.navbar {
  
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7%;
  border-bottom: 4px black solid;

  &__left {
    width: 35%;
    justify-content: space-around;
  }

  &__center {

    align-items: center;
    padding-left: 4vw;

    font-family: 'Press Start 2P', cursive;
    font-size: 2vw;
    
    &__icon {
      font-size: 3vw;
      margin: 0 1vw;
    }
  }

  &__right {
    width: 35%;
    height: 100%;
    justify-content: flex-end;
    
    &__buttons {
      align-items: center;
      justify-content: space-around;
      width: 70%;
    }
  }

  &__menu-item {
    cursor: pointer;
    padding: 0.4em 0.3em 0.2em 0.3em;

    text-decoration: none;
    font-size: 1.2vw;
    font-family: 'Press Start 2P', cursive;
    color: black;

    background-color: beige;
    border: 0.1vw solid grey;
    border-radius: 0.2em;
  }
}