.signin-form {
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8vw;

  &__fields {
    flex-direction: column;
    justify-content: space-around;
    height: 80%;

    &__wrapper {
      align-items: center;
      justify-content: space-between;
    }

    &__label {
      margin-right: 1vw;
    }
  }



  &__input {
    height: 1.5em;
    width: 8em;
    margin-left: 0.5vw;
    
    font-size: 1vw;
    font-family: 'Electrolize', sans-serif;

    border: 0.1vw solid grey;
    border-radius: 0.2em;
  }

  &__button {
    cursor: pointer;
    padding: 0.4em 0.3em 0.2em 0.3em;

    text-decoration: none;
    color: black;
    font-family: 'Press Start 2P', cursive;

    background-color: beige;
    border: 0.1vw solid grey;
    border-radius: 0.2em;
  }
}