.signup {
  &__form {
    flex-direction: column;
    border: 0.5vw double black;
    padding: 2vw;
    align-items: center;
    
    &__header {
      width: 100%;
      text-align: center;
      margin-top: 0;
    }
    
    &__wrapper {
      justify-content: space-between;
      margin: 1vw 0;
      width: 100%
    }

    &__label {
      margin-right: 2vw;
      padding: 1em 0;
    }

    &__input {
      border: 0.2vw black solid;
      border-radius: 0.3vw;
      height: 1.5em;
      font-size: 1.3vw;
      font-family: 'Electrolize', sans-serif;

    }

    &__button {
      cursor: pointer;
      padding: 0.4em 0.3em 0.2em 0.3em;
      width: 10vw;
      margin-top: 1vw;
      
      text-decoration: none;
      color: black;
      font-family: 'Press Start 2P', cursive;
      font-size: 1vw;
  
      background-color: beige;
      border: 0.1vw solid grey;
      border-radius: 0.2em;
    }
  }
}

.rborder {
  border: 0.2vw red solid;
  border-radius: 0.3vw;
}